<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>upload file</title>
        <script type="text/javascript">
            function checkSize(max_img_size)
            {
                var input = document.getElementById("uploaded_file");
                if(input.files && input.files.length === 1)
                {           
                    if (input.files[0].size > max_img_size) 
                    {
                        alert("O arquivo deve ser menor que " + (max_img_size/1024/1024) + "MB");
                        return false;
                    }
                }
                return true;
            }
        </script>
    </head>
    <body>
        <form method='post' enctype='multipart/form-data' onsubmit="return checkSize(1097152)">
            <input id="uploaded_file" type='file' name='uploaded_file'>
            <button>Upload</button>
        </form>
    </body>
</html>
